.Menu {
    display: flex;
    position: absolute;
    flex-direction: column;
    text-align: left;
    min-height: 100%;
    min-width: 97vw;
    margin: 0;
    background-color: #1c1b1f;
    left: -100vw;
    align-items: center;
    justify-content: flex-start;
    padding-top: 3em;
}

@keyframes close {
    0%   {left: 0;}
    100% {left: -100vw;}
}

@keyframes open {
    0%   {left: -100vw;}
    100% {left: 0;}
}

.closed {
    left: -100vw;
    animation-name: close;
    animation-duration: .17s;
    animation-timing-function: ease;
}

.opened {
    left: 0;
    animation-name: open;
    animation-duration: .17s;
    animation-timing-function: ease;
}

.menu-lang-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu-buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

button {
    padding: 1em;
    cursor: pointer;
}

.menu-item {
    margin: 5vh;
}

.menu-item a {
    color: white;
    font-size: 2em;
    font-weight: bold;
    margin-block: 0.83em;
}