.Menu {
    display: flex;
    position: absolute;
    flex-direction: column;
    text-align: left;
    min-height: 90vh;
    min-width: 97vw;
    margin: 0;
    background-color: #1c1b1f;
    left: -100vw;
    align-items: center;
    justify-content: center;
    padding-top: 10vh;
    z-index: 1;
}

@keyframes close {
    0%   {left: 0;}
    100% {left: -100vw;}
}

@keyframes open {
    0%   {left: -100vw;}
    100% {left: 0;}
}

.closed {
    left: -100vw;
    animation-name: close;
    animation-duration: .17s;
    animation-timing-function: ease;
}

.opened {
    left: 0;
    animation-name: open;
    animation-duration: .17s;
    animation-timing-function: ease;
}

.menu-lang-title{
    margin-bottom: 3vh;
}

.menu-lang-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu-buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 3vh;
}

.menu-item {
    margin: 5vh;
}

.menu-item a {
    color: white;
    font-size: 2em;
    font-weight: bold;
    margin-block: 0.83em;
}

.menu-attributions{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 10vh;
}

.menu-attributions p {
    font-size: .6em;
}

.menu-attributions a {
    text-decoration: underline;
    font-size: .5em;
    align-self: flex-start;
}