.TextInput{
    display: flex;
    flex-direction: column;
    width: 100%;
}

#input-text{
    width: 100%;
    height: 40vh;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: .85em;
    border-radius: 0.5em;
    padding: 0.5em;
    margin-bottom: 1vh;
    color: black;
}

.text-input-buttons{
    display: flex;
    justify-content: flex-end;
}

.translate-button{
    width: fit-content;
    align-self: flex-end;
}

.clear-button {
    width: fit-content;
    background-color: red;
}

.translation-loader, .variations-loader {
    display: none;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.translation-loader p, .variations-loader p{
    margin: 0;
    font-size: .7em;
}

#loader{
    margin: 20rem calc(15% - 20rem);
    cursor: default;
    width: 20rem;
    height: 20rem;
}