.Nav {
    display: flex;
    position: fixed;
    z-index: 2;
    flex-direction: row;
    width: 95%;
    padding-inline-start: 5%;
}

.nav-icon-div {
    display: flex;
    align-items: center;
}

.nav-icon {
    height: 1.5em;
    cursor: pointer;
}

.nav-title-div {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
}

.nav-title-div h3 {
    font-weight: normal;
    margin-left: 2em;
}